
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

html{
    background-color: #222222;
    margin: 0;
    padding: 0;
}
body{
    padding: 0; margin: 0;
    background-color: #222222;
}
*{padding: 0; margin: 0; box-sizing: border-box; color: #e6e6e6e6; font-family: 'Open Sans', sans-serif !important;}

header {
	background: url(waves.svg);
	text-align: center;
	width: 100%;
	height: 100svh;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
  margin: 0;
	border-radius: 0 0 85% 85% / 50%;
}
header .overlay{
  display: flex;
  margin: 0;
	padding: 30px;
  flex-direction: column;
  justify-content: center;
	width: 100%;
	height: 100%;
	color: #FFF;
	text-shadow: 10px 9px 10px rgba(255, 255, 255, 0.14);
  background-image: linear-gradient( 135deg, #22222297 10%, #141414 100%);
	
}
.overlay #text{
    font-size: 5rem;
    letter-spacing: 1px;
}
.overlay h3{
  letter-spacing: 5px;
  font-size: .7rem;
}
.test {
    height: 100vh;
    border-top: 1px solid rgba(83, 9, 96, 0);
    border-top: 1px solid rgba(217, 0, 255, 0);
  }
  hr {
    width: 90%;
    border: none;
    border-top: 1px solid #e6e6e67c;
    margin: 20px 0;
  }

button.scroll_down {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 50px;
    width: 30px;
    bottom: 60px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    cursor: pointer;
    outline: none;
  }
  button.scroll_down:before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(190, 190, 190, 0.71);
    border-radius: 20%;
    -webkit-animation: scroll_down_btn-animation 2s infinite;
    animation: scroll_down_btn-animation 1.5s infinite;
    box-sizing: border-box;
  
  }

  .email{
    text-decoration: underline;
    cursor: pointer;
  }

  @keyframes scroll_down_btn-animation {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes scroll_down_btn-animation {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  /*Begin Scroll js styles*/
  .scroll-container {
    overflow-y: auto;
    height: fit-content;
    min-height: fit-content;
    min-width: 280px;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    flex-wrap: nowrap;
  }

  .scroll-container:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  .scroll-element{
    width: 80%;
  }
.scroll-caption {
  width: 20%;
}

.scroll-element {
  min-height: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
  background: #222222;
  border-radius: 50px;
  background: linear-gradient(145deg, #242424, #1f1f1f);
  box-shadow:  9px 9px 39px #161616,
               -9px -9px 39px #2e2e2e;
  overflow: auto;
}
.scroll-caption {
  margin: 1rem;
}

.scroll-child {
  
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

 .skill-list {
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row ;
  align-items: center;
  align-content: center ;
  justify-content: flex-start;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.scroll-child p{
  font-size: 1rem;
  letter-spacing: 0px;
  max-width: 80%;
  overflow: auto;
}
.scroll-element h2{
  text-transform: uppercase;
  font-size: 1rem;
  text-align: left;
  letter-spacing: 1px;
}
.scroll-child h3{
  font-size: .9rem;
  font-weight: 300;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}
.scroll-child .highlight{
  all: unset;
  font-family: 'Julius Sans One', sans-serif;
  color: #33475b;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  overflow: auto;
}


    /*End Scroll js styles*/

    /**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 3s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1.5s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*Begin Skills*/

.bar-container {
  margin: 10px 0px;
  border-radius: 10px;
  width: 60%;
  background: rgba(97, 97, 97, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
}
.bar-container *{
  border-radius: 10px;
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 25px !important;
  letter-spacing: 5px;
  padding:7px;
  min-width: 150px;
  min-height: 125px;
  flex: 1 1 auto;
}
.tag{
  padding: 7px;
  border-width: 1px;
  background: linear-gradient(145deg, #242424, #1f1f1f);
  box-shadow:  5px 5px 25px #121212,
               -5px -5px 25px #323232;
  border-radius: 7px;
  border: none;
  color: #e6e6e6;
}

.tag:hover{
  box-shadow: inset 9px 9px 28px #121212,
  inset -9px -9px 28px #323232;
}
/*End Skills*/

/* Portafolio banner */

.portafolio {
  /* background-image: url("waves.svg"); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 40px;
  width: 100%;
  height: fit-content;
  background: #222222;
  box-shadow: inset 20px 20px 31px #1d1d1d,
              inset -20px -20px 31px #272727; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
}

.column {
  flex-basis: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  border-radius: 20px;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.99) ;
}
.logo {
  backdrop-filter: blur(5px);
  box-shadow: none !important ;
}

/* End Portafolio banner */



@media (max-width: 550px) {
  .scroll-container {
    min-width: 100%;
  }

  .scroll-container:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  .scroll-element{
    width: 100%;
}

}

@media (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 4px;
    width: 100%;
  }
  
  .column {
    padding: 0 8px;
    max-width: 100%;
  }
}

/* Footer */
footer {
    background-image: url("waves.svg");
    box-shadow: inset 15px 15px 49px #121212,
    inset -15px -15px 49px #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
footer p{
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .5rem;
}

/* End Footer */