

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    color: #e6e6e6;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100svh;
    overflow: hidden;
    background: #141414;
}

::selection {
    background: #222222;
    color: #e6e6e6;
}

img {
    pointer-events: none;
}

.landingPage {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landingPage .topSide {
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landingPage .topSide .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.landingPage .topSide .logo a img {
    width: 100px;
}

.landingPage .topSide .logo a p.websiteName {
    font-size: 21px; 
    margin-left: 10px;
    color: #81c784;
}

.landingPage .topSide .freelancerName p {
    font-size: 32px;
    color: #e6e6e6;
    text-align: right;
}

.landingPage .navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: #81c784;
    height: 100vh;
    width: 55px;
    writing-mode: vertical-lr;
    position: absolute;
    top: 50%;
    right: 0rem;
    transform: translateY(-50%);
}

.landingPage .navBar a.link {
    color: #141414;
    transition: all 0.2s ease-in-out;
}

.landingPage .navBar a.link:hover {
    color: #e6e6e6;
    text-decoration: line-through;
}

.landingPage .mainImage {
    overflow: hidden;
    position: absolute;
    left: -55px;
    width: 100%;
    height: auto;
    bottom: -200px;
    z-index: -1;
}

.svg{
    position: absolute;
    width: 150%;
    min-width: 100%;
    height: auto;
}

.landingPage .cars{
    position: absolute;
    width: 100%;
    bottom: 100px;
}
.car1 {
    width: 50px;
    height: 15px;
    background-color: #1b2a38;
    position: absolute;
    animation: toright 5s linear infinite;
    bottom: 10px;
  }

  .car2 {
    width: 70px;
    height: 20px;
    background-color: #295b8d;
    position: absolute;
    animation: toleft 3s linear infinite;
    bottom: 45px;
  }
  .car3 {
    width: 50px;
    height: 20px;
    background-color: #3a70a5;
    position: absolute;
    animation: toleft 4s linear infinite;
    bottom: 30px;
  }
  .car4 {
    width: 55px;
    height: 18px;
    background-color: #091929;
    position: absolute;
    animation: toright 7s linear infinite;
    bottom: 65px;
  }
  
  .car5 {
    width: 60px;
    height: 17px;
    background-color: #172c41;
    position: absolute;
    animation: toleft 2s linear infinite;
    bottom: 80px;
  }
  
  .car6 {
    width: 50px;
    height: 15px;
    background-color: #4a647d;
    position: absolute;
    animation: toright 6s linear infinite;
    bottom: 95px;
  }

  .light {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #e6e6e6;
    border-radius: 50%;
    top: 5px;
    left: 100%;
    filter: blur(7px);
    transform: translatex(10px) rotate(35deg) skew(-50deg) ;
    animation: lightAnimation 1s ease-in-out;
  }

  .lightl {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #e6e6e6;
    border-radius: 50%;
    top: 5px;
    right: 100%;
    filter: blur(7px);
    transform: translatex(-5px) rotate(25deg) skew(-50deg) ;
    animation: lightAnimation 1s ease-in-out;
    animation-iteration-count: infinite;
  }
  @keyframes toright {
    0% {
      left: -100%;
    }
    
    100% {
      left: 100%;
    }
  }

  @keyframes toleft {
    0% {
      left: 100%;
    }
    
    100% {
      left: -100%;
    }
  }
  @keyframes lightAnimation {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
.landingPage .mainImage img {
    /* max-width: 100%; */
}

.landingPage .bottomLeftSide {
    backdrop-filter: blur(10px) ;
    background-color: rgba(35, 36, 36, 0.46);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    margin-right: 200px;
}

.landingPage .bottomLeftSide p.job {
    font-size: 32px;
}

.landingPage .bottomLeftSide p.location {
    font-size: 21px;
    color: #e6e6e6;
}

.landingPage .bottomLeftSide p.location span {
    color: #81c784;
}

.landingPage .bottomRightSide {
    position: absolute;
    right: 4rem;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.landingPage .bottomRightSide a i {
    font-size: 21px;
    transition: all 0.2s ease-in-out;
}

.landingPage .bottomRightSide a i:hover {
    color: #222222;
}


/* =============================================================================================== */
/* ======================================= Responsive ============================================ */
/* =============================================================================================== */

@media screen and (max-width: 768px) {
    .landingPage .topSide .freelancerName {
        display: none;
    }

    .landingPage .mainImage {
        bottom: -80px;
    }

    .landingPage .bottomLeftSide {
        top: 6rem;
        bottom: unset;
    }
}

@media screen and (max-width: 400px) {
    .landingPage .mainImage {
        /* display: none; */
    }
}